.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.gallery--reversed {
  direction: rtl;
}

.gallery img,
.gallery video {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {

  .gallery {
    display: block;
  }

  .gallery span {display: none;}
}
