.gallery {
  display: flex;
  gap: 12px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mediaWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.media {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .gallery,
  .column {
    flex-direction: column;
    gap: 4px;
  }
}
