/* content */

.about-content {
  display: flex;
  flex-direction: column;
  gap: 160px;
  padding: 260px 36px 200px;
}

.about-content__title {
  font-size: 56px;
  font-weight: 600;
}

.about-content__descr {
  width: 830px;
  max-width: 100%;
  margin-top: 48px;
  font-size: 48px;
}

.about-content__img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 96px;
}

@media (max-width: 1199px) {
  .about-content {
    gap: 120px;
  }
}

@media (max-width: 767px) {
  .about-content {
    padding: 155px 20px 72px;
    gap: 72px;
  }

  .about-content__title {
    font-size: 36px;
  }

  .about-content__descr {
    margin-top: 24px;
    font-size: 32px;
  }

  .about-content__img {
    margin-top: 36px;
  }
}

/* about studio */

.about-studio__info {
  width: 66.1%;
  margin-top: 36px;
  margin-left: auto;
}

.about-studio__info p {
  max-width: 530px;
}

.about-studio__info p:not(:first-of-type) {margin-top: 40px;}

.about-studio__info img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 72px;
}

.about-studio__categories {
  margin-top: 160px;
}

.about-studio__categories b {
  display: block;
  font-weight: 600;
  font-size: 48px;
}

@media (max-width: 1199px) {
  .about-studio__info {
    width: 72.1%;
    margin-left: 0;
  }
}

@media (max-width: 1199px) {

  .about-studio__info {
    width: 100%;
    margin-top: 24px;
  }

  .about-studio__info p {
    font-size: 20px;
  }

  .about-studio__info p:not(:first-of-type) {margin-top: 28px;}

  .about-studio__info img {
    margin-top: 48px;
  }

  .about-studio__categories {
    margin-top: 72px;
  }

  .about-studio__categories b {
    font-size: 36px;
  }
}



/* team */

.about-team__info {
  width: 66.1%;
  margin-left: auto;
}

.about-team__descr {
  max-width: 484px;
  margin-top: 36px;
}

.about-team__members {
  display: block;
  max-width: 711px;
  margin-top: 96px;
  font-weight: 600;
  font-size: 30px;
}

@media (max-width: 1199px) {
  .about-team__info {
    width: 80%;
    margin-left: 0;
  }
}

@media (max-width: 767px) {

  .about-team__info {
    width: 100%;
  }

  .about-team__descr {
    margin-top: 24px;
    font-size: 20px;
  }

  .about-team__members {
    margin-top: 24px;
    font-size: 30px;
  }
}
